@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display+swap');
@charset "UTF-8";
body {
    background: rgb(113, 113, 230);
    text-align: center;
    font-family: 'Montserrat', arial;
    min-width: 350px;
}
.container {

        background: white;
        width: 80%;
        max-width: 500px;
        min-width: 300px;
        padding: 20px;
        border: 1px;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -100px;
}
/*nome*/
#nome {
   
    font: inline;
    min-width: 0.5em;
   font-size: 1.4em;
   position: relative;
   top: 60px;
}
  /*card*/  
.card {
background: rgb(245, 245, 245);
width: 70%;
max-width: 400px;
min-width: 150px;
padding: 20px;
border: 1px;
box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
border-radius: 20px;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
}
#le {
    top: -30px;
    color: rgb(18, 18, 27);
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: black;
}
/*Foto*/ 
.foto img{
    
    max-width: 250px;
    max-height: 250px;
    min-width: 40px;
    min-height: 40px;
    width: auto;
    border-radius: 50%;
    border: 20px;
}

.ico {
    margin-left: -25px;
    margin-right: auto;
    align-content: relative;
}
.ico ul {
    list-style: none;
} 
.ico ul li {
    display: inline;
    text-align: center;
    padding: 8px;
}
#let {
    text-decoration: none;
    color: rgb(113, 113, 230);
}
/*Mensagem*/
.conteiner .mens {
    
}
.mens {
    position: relative;
    top: -30px;
    left: 59%;
    font-size: 1.5em;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}
.mens:hover{
    background: rgb(231, 229, 229);
}
/*compartilhar*/
.comp {
    position: relative;
    font-size: 1.5em;
    top: -30px;
    right: 59%;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}
.comp:hover{
    background: rgb(231, 229, 229);
}
/*modal mensagem*/
.container-modalm {
width: 100vw;
height: 100vh;
position: fixed;
top: 0;
left: 0;
z-index: 2000;
display: none;
justify-content: center;
align-items: center; 
}
.container-modalm.abrir {
    display: flex;
}
.modalm {
max-width: 400px;
min-width: 200px;
position: absolute;
border-radius: 20px;
background: white;
width: 60%;
padding: 40px;
border: 1px;
box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.3);
animation: modalm 1s;
}

.fecharm {
border-radius: 50%;
position: absolute;
top: 0;
right: -10px;
cursor: pointer;
box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
background: white;
}
.fecharm:hover{
    background: rgb(231, 229, 229);
}
/*modal compartilha*/
.container-modalc {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center; 
    }
    .container-modalc.abrirm {
        display: flex;
    }
    .modalc {
    max-width: 400px;
    min-width: 200px;
    position: absolute;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    width: 60%;
    padding: 40px;
    border: 2px;
    box-shadow: 6px 6px 6px 3px rgba(0, 0, 0, 0.3);
    animation: modalc 1s;
    }
    .fecharc {
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -10px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
    background: white;
    
    }
    .fecharc:hover{
        background: rgb(231, 229, 229);
    }
    @keyframes modalc {
        from {
            opacity: 0;
            transform: translate3d(-60px, -80px, 0)
        }
        to {
            opacity: 1;
            transform: translate3d(0, 0, 0)
        }
    }
    @keyframes modalm {
        from {
            opacity: 0;
            transform: translate3d(60px, -80px, 0)
        }
        to {
            opacity: 1;
            transform: translate3d(0, 0, 0)
        }
    }
    
   